<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowbin.dao.RemoteDataMapper">
  <resultMap id="BaseResultMap" type="com.nowbin.bean.RemoteData">
    <id column="RemoteId" jdbcType="INTEGER" property="remoteid" />
    <result column="FileName" jdbcType="VARCHAR" property="filename" />
    <result column="FilePath" jdbcType="VARCHAR" property="filepath" />
    <result column="DataTypeID" jdbcType="INTEGER" property="datatypeid" />
    <result column="LastModifyTime" jdbcType="TIMESTAMP" property="lastmodifytime" />
    <result column="FileSize" jdbcType="INTEGER" property="filesize" />
    <result column="DownloadTime" jdbcType="TIMESTAMP" property="downloadtime" />
    <result column="ProcessedPath" jdbcType="VARCHAR" property="processedpath" />
    <result column="ProcessedTime" jdbcType="TIMESTAMP" property="processedtime" />
    <result column="FileStatus" jdbcType="INTEGER" property="filestatus" />
  </resultMap>
  <sql id="Base_Column_List">
    RemoteId, FileName, FilePath, DataTypeID, LastModifyTime, FileSize, DownloadTime, 
    ProcessedPath, ProcessedTime, FileStatus
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_remotedata
    where RemoteId = #{remoteid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_remotedata
    where RemoteId = #{remoteid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nowbin.bean.RemoteData">
    insert into t_remotedata (RemoteId, FileName, FilePath, 
      DataTypeID, LastModifyTime, FileSize, 
      DownloadTime, ProcessedPath, ProcessedTime, 
      FileStatus)
    values (#{remoteid,jdbcType=INTEGER}, #{filename,jdbcType=VARCHAR}, #{filepath,jdbcType=VARCHAR}, 
      #{datatypeid,jdbcType=INTEGER}, #{lastmodifytime,jdbcType=TIMESTAMP}, #{filesize,jdbcType=INTEGER}, 
      #{downloadtime,jdbcType=TIMESTAMP}, #{processedpath,jdbcType=VARCHAR}, #{processedtime,jdbcType=TIMESTAMP}, 
      #{filestatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.nowbin.bean.RemoteData">
    insert into t_remotedata
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="remoteid != null">
        RemoteId,
      </if>
      <if test="filename != null">
        FileName,
      </if>
      <if test="filepath != null">
        FilePath,
      </if>
      <if test="datatypeid != null">
        DataTypeID,
      </if>
      <if test="lastmodifytime != null">
        LastModifyTime,
      </if>
      <if test="filesize != null">
        FileSize,
      </if>
      <if test="downloadtime != null">
        DownloadTime,
      </if>
      <if test="processedpath != null">
        ProcessedPath,
      </if>
      <if test="processedtime != null">
        ProcessedTime,
      </if>
      <if test="filestatus != null">
        FileStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="remoteid != null">
        #{remoteid,jdbcType=INTEGER},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null">
        #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="datatypeid != null">
        #{datatypeid,jdbcType=INTEGER},
      </if>
      <if test="lastmodifytime != null">
        #{lastmodifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="filesize != null">
        #{filesize,jdbcType=INTEGER},
      </if>
      <if test="downloadtime != null">
        #{downloadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="processedpath != null">
        #{processedpath,jdbcType=VARCHAR},
      </if>
      <if test="processedtime != null">
        #{processedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="filestatus != null">
        #{filestatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nowbin.bean.RemoteData">
    update t_remotedata
    <set>
      <if test="filename != null">
        FileName = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null">
        FilePath = #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="datatypeid != null">
        DataTypeID = #{datatypeid,jdbcType=INTEGER},
      </if>
      <if test="lastmodifytime != null">
        LastModifyTime = #{lastmodifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="filesize != null">
        FileSize = #{filesize,jdbcType=INTEGER},
      </if>
      <if test="downloadtime != null">
        DownloadTime = #{downloadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="processedpath != null">
        ProcessedPath = #{processedpath,jdbcType=VARCHAR},
      </if>
      <if test="processedtime != null">
        ProcessedTime = #{processedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="filestatus != null">
        FileStatus = #{filestatus,jdbcType=INTEGER},
      </if>
    </set>
    where RemoteId = #{remoteid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nowbin.bean.RemoteData">
    update t_remotedata
    set FileName = #{filename,jdbcType=VARCHAR},
      FilePath = #{filepath,jdbcType=VARCHAR},
      DataTypeID = #{datatypeid,jdbcType=INTEGER},
      LastModifyTime = #{lastmodifytime,jdbcType=TIMESTAMP},
      FileSize = #{filesize,jdbcType=INTEGER},
      DownloadTime = #{downloadtime,jdbcType=TIMESTAMP},
      ProcessedPath = #{processedpath,jdbcType=VARCHAR},
      ProcessedTime = #{processedtime,jdbcType=TIMESTAMP},
      FileStatus = #{filestatus,jdbcType=INTEGER}
    where RemoteId = #{remoteid,jdbcType=INTEGER}
  </update>
</mapper>